{% extends 'base.html' %}

{% load thumbnail %}


{% block title %}{{ material.name }} | {{ block.super }}{% endblock %}

{% block content %}

<div class="row"><div class="page-header">
    <h1>{{ material.name }}</h1>
</div></div>



<div class="row">

  <!-- IMAGE -->
  <div class="col-xs-12 col-sm-5">
    <p class="text-center"><a href="#" type="button" data-toggle="modal" data-target="#modalPreview">
      {% thumbnail material.preview "512" as im %}
      <img class="img-fluid img-thumbnail" src="{{ im.url }}" alt="{{ material.name }}" />
      {% endthumbnail %}
    </a></p>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-3"><a href="{{ object.get_absolute_url }}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ material.name }}</h5>
      </div>
      {% thumbnail object.preview "512" as im %}
        <img src="{{ im.url }}" class="card-img-top" alt="{{ material.name }}">
      {% endthumbnail %}
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </a></div>

</div>


<!-- Modal -->
<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modalPreviewLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalPreviewLabel">{{ material.name }}</h4>
      </div>
      <div class="modal-body">
        {% thumbnail material.preview "1024" as im %}
          <img class="img-responsive" src="{{ im.url }}" alt="{{ material.name }}" />
        {% endthumbnail %}
      </div>
      <div class="modal-footer">
        <a id="modalDownload" class=" btn btn-success" href="{{ material.get_download_url }}">
          <span class="glyphicon glyphicon-download download-icon"></span> <span class="download-caption">Download</span>
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
