<!--<div class="container">-->
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
        <h5>Learn</h5>
        <ul class="">
          <li class=""><a class="white-text" href="/">Home</a></li>
          <li class=""><a class="white-text" href="/about/">About</a></li>
        </ul>
      </div>
      <div class="col s12 m4">
        <h5>Get</h5>
        <ul class="">
          <li class=""><a class="white-text" href="/materials/">Browse materials</a></li>
          <li class=""><a class="white-text" href="/addon/">Download plugin</a></li>
          <li class=""><a class="white-text" href="/uploads/stuff/">Use rendering stuff</a></li>
        </ul>
      </div>
      <div class="col s12 m4">
        <h5>Join</h5>
        <ul class="">
          <li class=""><a class="white-text" href="/account/register/">Register</a></li>
          <li class=""><a class="white-text" href="/uploads/upload/">Upload new material</a></li>
          <li class=""><a class="white-text" href="https://github.com/TrueCryer">Find us on GitHub</a></li>
        </ul>
      </div>
      </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>© 2014 - {% now "Y" %}, Sergey Ozerov, &lt;ozzyrov@gmail.com&gt;. All rights reserved.
         Content is released under <a class="grey-text" href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 license</a>.</p>
      <p>Made with <a class="grey-text" href="http://djangoproject.com" target="_blank">Django</a>
          and <a class="grey-text" href="https://materializecss.com" target="_blank">Materialize</a></p>
      <p>Hosted on <a class="white-text" href="http://infobox.ru" target="_blank">infobox.ru</a></p>
    </div>
  </div>
</footer>
<!--</div>-->
