
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo" href="/">Blendermada</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="divider"></li>
                <li class=""><a href="/materials"><span class="glyphicon glyphicon-search"></span> Browse materials</a></li>
                <li class=""><a href="/addon"><span class="glyphicon glyphicon-cog"></span> Add-on</a></li>
                <li class=""><a href="/blog"><span class="glyphicon glyphicon-pencil"></span> Blog</a></li>
                <li class=""><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        </ul>
            <!--<ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile"><span class="glyphicon glyphicon-eye-open"></span> My profile</a></li>
                        <li><a href="/account"><span class="glyphicon glyphicon-home"></span> Account</a></li>
                        <li><a href="/favorites"><span class="glyphicon glyphicon-star"></span> Favorites</a></li>
                        <li><a href="/uploads"><span class="glyphicon glyphicon-upload"></span> Upload new material</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                {% endif %}
            </ul>-->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="divider"></li>
                <li class=""><a href="/materials"><span class="glyphicon glyphicon-search"></span> Browse materials</a></li>
                <li class=""><a href="/addon"><span class="glyphicon glyphicon-cog"></span> Add-on</a></li>
                <li class=""><a href="/blog"><span class="glyphicon glyphicon-pencil"></span> Blog</a></li>
                <li class=""><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        </ul>
    </div>
</nav>
</div>
